// aeroplanes that write name
@keyframes fly-left {
    0%{
        right:-26rem;
        opacity: 1;
        top: -24rem;
        transform: rotate(-58deg);
        
    }

    10%{
        top:30rem;
        transform: rotate(-38deg);
    }

    20%{
        top:15rem;
        transform: rotate(60deg);
    }

    30%{
        top:10rem;
        transform: rotate(0deg);
    }

    40%{
        
        transform: rotate(10deg);
    }

    50%{
        transform: rotate(0);
    }

    100%{
        right:100%;
        opacity: 1;
        transform: rotate(0);
        top:10rem;
    }
}


@keyframes fly-right {
    0%{
        left:-26rem;
        opacity: 1;
        top: -24rem;
        transform: rotate(58deg);
        
    }

    10%{
        top:20rem;
        transform: rotate(38deg);
    }

    20%{
        top:15rem;
        transform: rotate(-60deg);
    }

    30%{
        top:10rem;
        transform: rotate(0deg);
    }

    40%{
        
        transform: rotate(10deg);
    }

    50%{
        top:10rem;
        transform: rotate(0);
    }

    80%{
        top:10rem;
        transform: rotate(0deg);
    }

    90%{
        top:30rem;
        transform: rotate(20deg);
    }

    100%{
        left:110%;
        top: 40;
        transform: rotate(0);
        opacity: 1;
    }

}

// rotate letters when plane flys by
@keyframes rotateLetter{

    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(1rem);
    }

    100%{
        opacity: 1;
        transform: rotateY(0);
        filter: blur(0);
    }
}

// flash/flicker text .. 
@keyframes flash{

    0%,100%{
        color:  $color-black;
        filter: blur(1px);
    }


    5%,95%{
        color: $color-white;
        filter: blur(0);
        text-shadow: 0 0 1rem none,
    }
}

@keyframes bringInNav{
    0%{
        bottom: -10rem;
        opacity: 0;
    }

    50%{
        bottom: 1rem;
        opacity: .3;
    }

    100%{
        bottom: 0;
        opacity: 1;
    }
}

// W3 glow
@keyframes glow {
    from {
      text-shadow: 0 0 1rem $color-white, 
                    0 0 20px $color-blue, 
                   0 0 30px $color-blue, 
                   0 0 40px $color-blue; 
    }
    to {
      text-shadow: 0 0 1rem $color-white,
                   0 0 20px rgba($color-blue, .8), 
                   0 0 30px $color-blue;
    }
}

@keyframes glow2 {
    0%,100%{ color: $color-turq; filter: blur(1px);
        text-shadow: 0 0 .2rem $color-pink, 
                     0 0 .4rem $color-pink, 
                     0 0 .7rem $color-pink, 
                     0 0 8rem $color-pink,
                     0 0 1.2rem $color-pink;
                    
    } 
    5%,95%{ 
        color: $color-white; 
        filter: blur(0); 
        text-shadow: 0 0 1rem none; 
    } 
}
  

// !Javascript classes
.glow{
    animation: glow 1.2s ease-in infinite alternate;
}
