.container{
    display: grid;
    grid-template-rows: [header-start] 100vh [header-end main-start]  max-content [main-end footer-start] 10rem [footer-end];
    
    @include res(phone-500){
        grid-template-rows: [header-start] 100vh [header-end main-start]  max-content [main-end footer-start] max-content [footer-end];
    }

   position: relative;
   grid-template-columns: repeat(8, 1fr);
}

.header{
    // background-color: red;
    grid-row: header-start/header-end;
    grid-column: 1/-1;
    display: grid;
    grid-template-rows:  70% 1fr;
}
.main{
    background-color: $color-white;
    grid-row: main-start/main-end;
    grid-column: 1/-1;
    z-index: 10;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: 100vh repeat(4, 100vh);
}
.footer{
    background-color: yellow;
    grid-row: footer-start/footer-end;
    grid-column: 1/-1;

}