
$font-1: 'Josefin Sans', sans-serif; // good for small text
$font-2: 'ABeeZee', sans-serif;  // good for small text 
$font-3: 'Chewy', cursive;  // good for large text
$font-4: 'Montserrat', sans-serif; // main
$font-5: 'Poiret One', cursive;
$font-6: 'Permanent Marker', cursive;
$font-7: 'Grandstander', cursive;
$font-8: 'Grenze Gotisch', cursive;
$font-9:'Krona One', sans-serif;
$font-10: 'Open Sans', sans-serif; 

$default-font-size: 1.6rem;

//! neon layout // 
$color-blue:#00b3ff;
$color-red:  #ff005b;
$color-green: #48ff85;
$color-yellow:#ffff48;
$color-orange:#ff7b00;
$color-turq:#00fffb;
$color-purple:#4800ff;
$color-pink:#ff00e6;


$color-grey-light:#E1E0DE;
$color-grey: #C9C4BA;
$color-grey-dark:#707070;

$color-white: #fff;
$color-black: #000;
//! pastal layout END // 

.header--1{
    font-size: 8rem;
    font-weight: 200;
    font-family: $font-4;
}

@include res(tab-600){
    .header--1{
        font-size: 6rem;
        letter-spacing: -1rem;

    }
    
}

