.container {
  display: grid;
  grid-template-rows: [header-start] max-content [header-end main-start] minmax(80vh, max-content) [main-end footer-start] max-content [footer-end];
  grid-template-columns: repeat(8, 1fr); }

.header {
  grid-row: header-start/header-end;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 70% 1fr; }

.main {
  background-color: blue;
  grid-row: main-start/main-end;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }

.footer {
  background-color: yellow;
  grid-row: footer-start/footer-end;
  grid-column: 1/-1; }

/* wood in logo */
.header--1 {
  font-size: 8rem;
  font-weight: 600;
  font-family: "Chewy", cursive; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 400 1.6rem/1.7 "Open Sans", sans-serif; }

header {
  position: relative; }
  header .plane__container {
    height: 15rem;
    width: 26rem;
    display: inline-block;
    position: absolute; }
    header .plane__container--left {
      opacity: 0;
      animation: fly-left 2s ease-out; }
    header .plane__container--right {
      animation: fly-right 2.5s 1s ease-out;
      opacity: 0; }
  header .plane__image {
    height: 100%;
    width: 100%;
    filter: sepia(100%); }
  header .name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 0 0;
    grid-row: 1/2;
    color: #000;
    letter-spacing: .1rem; }
    header .name__container {
      display: inline-block; }
      header .name__container--matthew span, header .name__container--metsoja span {
        display: inline-block; }
      header .name__container--matthew span {
        animation: smoke 1s linear 1s forwards; }
      header .name__container--metsoja span {
        animation: smoke 1s linear 2.2s infinite; }
  header .nav {
    margin: auto 0;
    grid-row: 2/-1; }
    header .nav .menu {
      display: flex;
      justify-content: space-between;
      margin: 0 5rem;
      list-style: none; }

@keyframes fly-left {
  0% {
    right: -26rem;
    opacity: 1;
    top: -14rem;
    transform: rotate(-58deg); }
  10% {
    top: 20rem;
    transform: rotate(-38deg); }
  20% {
    top: 5rem;
    transform: rotate(60deg); }
  30% {
    top: 0rem;
    transform: rotate(0deg); }
  40% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(0); }
  100% {
    right: 100%;
    opacity: 1;
    transform: rotate(0);
    top: 0rem; } }

@keyframes fly-right {
  0% {
    left: -26rem;
    opacity: 1;
    top: -14rem;
    transform: rotate(58deg); }
  10% {
    top: 20rem;
    transform: rotate(38deg); }
  20% {
    top: 5rem;
    transform: rotate(-60deg); }
  30% {
    top: 0rem;
    transform: rotate(0deg); }
  40% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(0); }
  100% {
    left: 100%;
    top: 0;
    transform: rotate(0);
    opacity: 1; } }

@keyframes smoke {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
